*{
	font-family: 'Ubuntu', sans-serif;
}
.navbar .navbar-brand{
	font-size: 2em;
	font-weight: bold;
}

.my-banner{
	background-image: url(../img/banner.jpg);
	border-radius: 0px;
	background-size: cover;
	min-height: 90vh;
	margin-top: 4%;
	background-position: center;
}
.my-banner .my-banner-div{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	display:inline-block;
}
.my-banner-div p{
	font-size: 24px;
}
.sidebar a{
	color: black!important;
}
.sidebar a:hover{
	color: red!important;
}
.sidebar .active{
	background-color: #dc3545!important;
	color: #fff!important;
}
.sidebar .active:hover{
	color: white!important;
}